
<li>
    <a href="{{ path('sip_main_homepage') }}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
</li>
<li>
    <a href="{{ path('evento') }}"><i class="fa fa-dashboard fa-fw"></i> Evento</a>
</li>
<li>
    <a href=""><i class="fa fa-bar-chart-o fa-fw"></i> Parametro<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="{{ path('baseprovincia')}}">Departamentos</a>
        </li>
        <li>
            <a href="{{ path('baseciudad')}}">Ciudades</a>
        </li>
        <li>
            <a href="{{ path('baselocalidad')}}">Localidades</a>
        </li>
        <li>
            <a href="{{ path('basecomunidad')}}">Comunidad</a>
        </li>
        <li>
            <a href="{{ path('tipoevento')}}">Ciudades</a>
        </li>
    </ul>
    <!-- /.nav-second-level -->
</li>